<p id="notice"> <%= notice %></p>

  <h1> <%= @topic.name %></h1>
  <p>  <%= @topic.description %> </p>


<%= link_to 'Edit Topic', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>

<h2> Posts </h2>
  
<table class="table" style="width:100%" >
  <% @posts.each do |post| %>
  <tr>
    <td><%= link_to post.title, [@topic, post] %></td>
    <td><%=pluralize(post.points, 'point') %></td> 
    <td><%=post.created_at.to_formatted_s(:short) %></td> 
  </tr>
  <% end %>
</table>
<br>

<%= link_to 'New Post', new_topic_post_path(@topic, @post), class: 'btn btn-success' 'alert alert-success' %> 
    

     
