<h1><%= markdown @post.title %></h1> 
<p> <%= markdown @post.body%></p>   
<%= render :partial => "/comments/comment", locals: {post: @post, comment: @comment} %> 
  
    <div class="col-md-8">
      <%= render :partial => "comments/form", locals: {post: @post, comment: @comment}, class: 'btn btn-success' %>
  
       <% if policy( @post).edit? %>
         <%= link_to "Edit Post", edit_post_path(@topic,@post), class: 'btn btn-success' %>
       <% end %>
   
       <% if policy(@post).destroy? %>
         <%= link_to "Delete Post", [@topic, @post], :method => :delete, class: 'btn btn-danger', :confirm => 'are you sure you want to delete' %>
       <% end %>
    </div>


